.bgLogin {
    background-image: url(../../assets/img_movie_CGV/bg-movie-login.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 32px;
    min-height: 100vh;
}

.position {
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}

.bgIntro {
    background-image: url(../../assets/img_movie_CGV/bg-movie.jpg);
    background-size: contain;
}